.place__paragraph{
    margin: 0;
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    line-height: 163%;
    color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .place__paragraph{
      width: 457px;
      font-size: 18px;
      line-height: 29px;
      line-height: 163%;
    }
  }
@media screen and (max-width: 768px) {
  .place__paragraph{
      width: 352px;
      font-size: 16px;
      line-height: 26px;
      line-height: 163%;
    }
  }
@media screen and (max-width: 320px) {
  .place__paragraph{
      width: 288px;
      font-size: 16px;
      line-height: 26px;
      line-height: 163%;
    }
  }