.intro__text{
    max-width: 690px;
    padding-top: 40px;
    padding-bottom: 33px;
    font-family: Inter;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    line-height: 163%;
    color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .intro__text{
      max-width: 690px;
 }
}
@media screen and (max-width: 768px) {
  .intro__text{
      max-width: 720px;
 }
}
@media screen and (max-width: 320px) {
    .intro__text{
        max-width: 288px;
   }
}